﻿@model GreenWebsite.Models.ImageGallery

@{
    ViewBag.Title = "Upload Image";
    Layout = null;
}
<html>
<head>
    <title>Image Gallery</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        window.onload = function ()
        {
            document.getElementById('imageUploadId').onsubmit = function ()
            {
                var formdata = new FormData();
                var fileInput = document.getElementById('fileInputType');
                for (i = 0; i < fileInput.files.length; i++)
                {
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                }
                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'UploadImageMethod');
                xhr.send(formdata);
                xhr.onreadystatechange = function ()
                {
                    if (xhr.readyState == 4 && xhr.status == 200)
                    {
                        if (xhr.responseText == "Success")
                        {
                            alert("Upload image successfully.");
                            parent.jQuery.fancybox.close();
                        }
                        else
                        {
                            alert("Error occurred.! Please try again");
                        }
                    }
                }
                return false;
            }
        }
    </script>
    
</head>
<body style="background-color:#fff">
    <div style="height:400px; border:1px solid;">
        <div style="width: 100%; height: 50px; border-bottom: 1px solid #808080; background-color: #66CCFF; ">
            <div style="float:right; height:30px; width:30px; margin-top:10px; 
                border-left:0px solid #c8c8c8">
                <a href="javascript:parent.jQuery.fancybox.close();" 
                  style="color: orange; cursor: pointer; text-decoration: none;">

                    <img src="~/Content/fullscreenButton.png" /> </a>
            </div>
        </div>
        <div>
            <div style="margin-left:80px; float:left; width:500px; 
                  height:270px; border: 0px solid black;">
                <div>
                    <br />
                    <form id="imageUploadId">
                        <h3>Upload a picture</h3>
                        <input id="fileInputType" type="file" multiple class="fileUpload" 
                         style="width:300px;"><br />
                        <p style="color: #0066FF">You Can Upload a JPG, GIF, Or PNG File. 
                         Just for you By Escrow Systems</p>
                        <input type="submit" class="btn btn-success" value="Image Upload" />
                    </form>
                </div>
            </div>
        </div>
        <div style="width:100%; margin-top:290px; border-bottom:1px solid #808080"></div>
        <div style="background-color: #66CCFF; height:57px; margin-top:-20px;">
            <div style="text-align:center; margin-top:20px;"><p>2014 &copy; Admin</p></div>
        </div>
    </div>
</body>
</html>


