﻿@model GreenWebsite.Models.ImageGallery
@{
    ViewBag.Title = "Home Page";
Layout="~/Views/Shared/_Layout3.cshtml";

}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="~/Scripts/jquery.fancybox.js?v=2.1.3"></script>
<link href="~/Content/jquery.fancybox.css?v=2.1.2" rel="stylesheet" media="screen" />
<link href="~/Scripts/jquery.fancybox.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function ()
    {
      $("#ShowImage").fancybox({
          helpers:
          {
              title:
              {
                type: 'float'
             }
          }
        });
    });
</script>
<style type="text/css">
    .imgBox {
        width: 200px;
        height: 200px;
        opacity: 1.0;
        filter: alpha(opacity=100);
    }

        .imgBox:hover {
            -moz-box-shadow: 0 0 10px #ccc;
            -webkit-box-shadow: 0 0 10px #ccc;
            box-shadow: 0 0 10px #ccc;
            opacity: 0.4;
            filter: alpha(opacity=40);
        }
</style>
<br />
<div class="jumbotron" style="height:600px;width:100%; overflow: auto; margin-top: 8%;">

    <div style="border-bottom: 1px solid Red;"><h2>Gallery</h2></div>
    @if (Model.ImageList.Count > 0)
    {
        <div class="row-fluid">
            <div class="span2">
                <div class="item">
                    @foreach (var image in Model.ImageList)
                    {
                        string name= image.ToString();
                        string[] tokens = name.Split('.',' ');
                        string name01 = tokens[0];
                        string name02= tokens[1];
                        string name03= tokens[0]+""+tokens[1];
                        <div style=" margin:10px; float:left; height:200px; overflow:hidden; width:200px;">
                            <a id="ShowImage" class="fancybox-button" data-rel="fancybox-button"
                               title=@name03 href="@Url.Content("~/Upload_Images/"+ image)">
                                <div class="zoom">
                                    <img src="@Url.Content("~/Upload_Images/" + image)" class="imgBox" />
                                    <div class="zoom-icon"></div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.imageGallery').fancybox({
            fitToView: false,
            width: '600px',
            height: '400px',
            autoSize: false,
            closeClick: false,
            openEffect: 'none',
            closeEffect: 'none',
            padding: 0,
            closeBtn: false,
            'afterClose': function () {
                window.location.reload();
            },
        });
    });
</script>
