﻿@{
    ViewBag.Title = "";
}
<script>
    $elements = $('.rotating-content').find('p');
    $elements
        .not(':first-child')
        .addClass('visually-hidden')
        .css('opacity', 0);

    setInterval(function() {
        $elements.filter(':not(.visually-hidden)').fadeTo('slow', 0, function() {
            $next = $(this).addClass('visually-hidden').next();
            if ($next.length === 0) {
                $next = $elements.first();
            }
            $next.removeClass('visually-hidden').fadeTo('slow', 1);
        });
    }, 4000);
</script>

<div class="row" id="myMain">
  


    <br />
    <br />
    <h2 class="text-success">Savings</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-success">ORDINARY SAVINGS: </th>
                <th class="text-success">SCHOOL SAVINGS</th>
                <th class="text-success">HAMBUPHETSE SAVINGS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Are statutory savings</td>
                <td>Optional and E100.00 monthly minimum savings</td>
                <td>Optional investment savings</td>
            </tr>
            <tr>
                <td>E200.00 monthly minimum saving</td>
                <td>Withdrawable four times per year and maintain a minimum balance of E50.00.</td>
               <td>E100.00 minimum saving per month</td>
            </tr>
            <tr>
                <td>Non withdrawable</td>
                <td></td>
                <td>Can be withdrawable at five years interval.</td>
            </tr>
        </tbody>
    </table>

</div>
  