﻿@model PagedList.IPagedList<GreenWebsite.Models.User>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Users", FormMethod.Get))
{
    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-4">
                UserName: @Html.TextBox("SearchString", ViewBag.CurrentFilter as
                                 string)

            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-success" value="Search" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                Start Date : @Html.JQueryUI().Datepicker("Date1String")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                End.. Date : @Html.JQueryUI().Datepicker("Date2String")
            </div>
            <div class="col-md-4">

                <input type="submit" class="btn btn-success" value="Search" />
            </div>
        </div>


    </div>



}
<h3 style="color:green">Profile Accounts</h3>
<table class="table table-striped" >
    <tr>
        <th>
            @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })

        </th>
  
        <th>
         FirstName
        </th>
        <th>
          model.LastName
        </th>
        <th>
           model.IsActive
        </th>
        <th>
            @Html.ActionLink("CreateDate", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
          memberNumber
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memberNumber)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.UserID })">
                <i class="glyphicon glyphicon-pencil"></i>

            </a>
            |
            <a href="@Url.Action("Details", new { id = item.UserID })">
                <i class="glyphicon glyphicon-file"></i>

            </a>
            |
            <a href="@Url.Action("Delete", new { id = item.UserID })">
                <i class="glyphicon glyphicon-trash"></i>

            </a>
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))
