﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-Green Pastures</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap core CSS -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="content/carousel.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script>
        $(function() {
            $('[title]').attr("data-rel", "tooltip");
            $("[data-rel='tooltip']")
                .attr("data-placement", "top")
                .attr("data-content", function() {
                    return $(this).attr("title")
                })
                .removeAttr('title');


            var showPopover = function() {
                $(this).popover('show');
            };
            var hidePopover = function() {
                $(this).popover('hide');
            };
            $("[data-rel='tooltip']").popover({
                trigger: 'manual'
            }).click(showPopover).hover(showPopover, hidePopover);

        });
        //paste this code under the head tag or in a separate js file.
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>

</head>
<body>
    <div class="se-pre-con"></div>
<div class="container" id="top">
    <img class="img-responsive" style="float: left" src="~/images/GreenLogo.jpg.png" id="logo" width="250" height="150"/>
    <ul class="nav navbar-nav navbar-right" style="margin-top: 5%">
        <li>
            <form class="form-inline" method="get" action="http://www.google.com/search" target="_blank">
                <div class="form-group">
                    <input class="form-control" type="text" name="q" size="40" maxlength="255" value="" placeholder="Google Search...">
                </div>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Search">
                    <input type="hidden" name="sitesearch" value="http://greenwebsite20160322122050.azurewebsites.net/" target="_blank">

                </div>


            </form>
        </li>
    </ul>

</div>


<nav class="navbar navbar-default navbar-fixed-top" id="MyNav">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            @Html.ActionLink("Home", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="color: white; width: fill-available">
            <ul class="nav navbar-nav" id="MyLi">
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">@Html.ActionLink("About Us", "About", "Home")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Products" ? "active" : "")">@Html.ActionLink("SAVINGS", "Products", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Product2" ? "active" : "")">@Html.ActionLink("MEMBERSHIP SHARES", "Product2", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Product3" ? "active" : "")">@Html.ActionLink("LOANS", "Product3", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Product4" ? "active" : "")">@Html.ActionLink("BURIAL SCHEMES", "Product4", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Product5" ? "active" : "")">@Html.ActionLink("CLAIM-PROMOTIONAL", "Product5", "Home")</li>

                    </ul>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "FAQs" ? "active" : "")">@Html.ActionLink("FAQs", "FAQs", "Home")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Gallery" ? "active" : "")">@Html.ActionLink("Gallery", "Gallery", "Home")</li>


                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">@Html.ActionLink("Contact", "Contact", "Home")</li>

                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Downloads" ? "active" : "")">@Html.ActionLink("Downloads", "Downloads", "Home")</li>


            </ul>
            <ul class="nav navbar-nav navbar-right" id="thtdiv">


                <li><a href="~/SignUp/Create"><span class="glyphicon glyphicon-registration-mark"></span>SignUp</a></li>

                <li><a href="~/Account/Index"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                <li><a href="~/HTML/index.html" target="_blank"><span class="glyphicon glyphicon-question-sign"></span>Help</a></li>


            </ul>


        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="f-button2 hidden-sm">
    <label for="open">
        <ul>
            <li><a href="#"><img width="28" height="32" src="~/images/facebook.png"/></a></li>
            <li><a href="#"><img width="28" height="32" src="~/images/linkedin.png"/></a></li>
            <li><a href="#"><img width="28" height="32" src="~/images/twitter.png"/></a></li>
            <li><a href="#"><img width="28" height="32" src="~/images/playstore.png"/></a></li>

        </ul>


    </label>
</div>
<a href="~/Home/Contact">
    <div class="f-button">
        <label for="open">Contact Us</label>
    </div>
</a>
<div class="container body-content">
    @RenderBody()
    <hr/>

    <footer>


        <div class="row">

            <div class="col-md-4">

                <p style="color: black">
                    <a class="btn btn-success" title="This section consists of committees such as Supervisory,Credit,Education and overall team management" style="color: white; background-color: darkgreen;" href="~/Home/About">Team Members &raquo;</a>
                    <br/>
                </p>

            </div>
            <div class="col-md-4">
                <p style="color: black">
                    <a class="btn btn-success" title="This section consists of Loans,Savings,Membership Shares and Additional Services" style="color: white; background-color: darkgreen;" href="~/Home/Products">Products &raquo;</a><br/>
                </p>
            </div>
            <div class="col-md-4">
                <p style="color: black">
                    <a class="btn btn-success" title="This section consists of Geo-Location and contact details." style="color: white; background-color: darkgreen;" href="~/Home/Contact">Map-Location&raquo;</a><br/>

                </p>
            </div>





        </div>



        <a href="#"><img src="~/images/facebook.png" width="32" height="32"/></a>
        <a href="#"><img src="~/images/linkedin.png" width="32" height="32"/></a>
        <a href="#"><img src="~/images/twitter.png" width="32" height="32"/></a>
        <a href="https://play.google.com/store/apps/details?id=com.greenapiclient"><img src="~/images/playstore.png" width="32" height="32"/></a>

        <p style="color: white; font-size: 8pt">
            &copy; @DateTime.Now.Year - GREEN PASTURES SAVINGS & CREDIT CO-OPERATIVE SOCIETY


        </p>
        <p class="pull-right">
            <a id="myBack" class="btn btn-lg btn-success" href="#"><img src="~/images/up-arrow.png" width="32" height="32"/></a>
        </p>

    </footer>

</div>

</body>
</html>