﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>Green Pastures Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")


    <!-- Bootstrap core CSS -->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="Content/dashboard.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="MyNav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Green Pasture User Dashboard :" + @User.Identity.Name, "Index", "User", null, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="MyLi">

                    <li>@Html.ActionLink("Balances", "Balance", "User")</li>
                    <li>@Html.ActionLink("Statement", "Statement", "User")</li>
                    <li>@Html.ActionLink("Profile", "Index", "UserAccounts")</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">



                    <li>
                        @Html.ActionLink("LogOut", "LogOut", "Account", new { area = "" }, new { @class = "glyphicon glyphicon-log-out" })
                        
                </li>
                    <li><a href="~/HTML/index.html" target="_blank"><span class="glyphicon glyphicon-question-sign"></span>Help</a></li>
    </ul>
            </div>

        </div>

    </div>

    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">@Html.ActionLink("Overview", "Index", "User")<span class="sr-only">(current)</span></a></li>

                <li>@Html.ActionLink("Balances", "Balance", "User")</li>
                <li>@Html.ActionLink("Profile", "Index", "UserAccounts")</li>


                <li>@Html.ActionLink("LogOut", "LogOut", "Account", new {area = ""}, new {@class = "glyphicon glyphicon-log-out" })
                </li>

            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header" style="color: green">Client Dashboard: @User.Identity.Name</h1>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">

                    <a href="~/User/Balance">
                        <img src="~/images/balance-sheet.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    </a>
                    <span class="text-muted">@Html.ActionLink("Balances", "Balance", "User")</span>
                </div>

                <div class="col-xs-6 col-sm-3 placeholder">


                    <a href="~/User/Statement">
                        <img src="~/images/Statement.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    </a>
                    <span class="text-muted">@Html.ActionLink("Statement", "Statement", "User")</span>
                </div>

                <div class="col-xs-6 col-sm-3 placeholder">
                    <a href="~/UserAccounts">
                        <img src="~/images/web-user.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    </a>
                    <span class="text-muted">@Html.ActionLink("Profile:" + @User.Identity.Name, "Index", "UserAccounts")</span>
                </div>

              
            </div>
            @RenderBody()
            <hr/>
            <footer style="margin-top:25%;">






                <a href="#"><img src="~/images/facebook.png" width="32" height="32"/></a>
                <a href="#"><img src="~/images/linkedin.png" width="32" height="32"/></a>
                <a href="#"><img src="~/images/twitter.png" width="32" height="32"/></a>
                <p style="color: white; font-size: 8pt">
                    &copy; @DateTime.Now.Year - GREEN PASTURES SAVINGS & CREDIT CO-OPERATIVE SOCIETY


                </p>
                <p class="pull-right">
                    <a id="myBack" class="btn btn-lg btn-success" href="#"><img src="~/images/up-arrow.png" width="32" height="32"/></a>
                </p>

            </footer>
        </div>
    </div>
        </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
