﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Green Pastures</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link href="~/Content/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <link href="Content/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="MyNav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Green Pastures Dashboard :" + @User.Identity.Name, "Index", "Admin", null, new {@class = "navbar-brand"})

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="MyLi">
                <li>@Html.ActionLink("Profile", "Index", "Users")</li>
                <li>@Html.ActionLink("File", "Index", "Support")</li>
                <li>@Html.ActionLink("Audit Log", "Index", "AuditLog")</li>
                <li>@Html.ActionLink("Audit Log Details", "Index", "AuditLogDetails")</li>
                <li>@Html.ActionLink("User Profile ", "Index", "AdminProfile")</li>


            </ul>
            <ul class="nav navbar-nav navbar-right">


                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "LogOut" ? "active" : "")">
                    @Html.ActionLink("LogOut", "LogOut", "Account", new {area = ""}, new {@class = "glyphicon glyphicon-log-out"})
                </li>
                <li><a href="~/Help/HTML/index.html" target="_blank"><span class="glyphicon glyphicon-question-sign"></span>Help</a></li>
            </ul>
        </div>

    </div>

</div>




<div class="container body-content">
    @RenderBody()
    <hr/>

</div>
</body>

<footer>


    <div class="row">

        <div class="col-md-4">

            <p style="color: black">
                <a class="btn btn-success" title="This section consists of committees such as Supervisory,Credit,Education and overall team management" style="color: white; background-color: darkgreen;" href="~/Home/About">Team Members &raquo;</a>
                <br/>
            </p>

        </div>
        <div class="col-md-4">
            <p style="color: black">
                <a class="btn btn-success" title="This section consists of Loans,Savings,Membership Shares and Additional Services" style="color: white; background-color: darkgreen;" href="~/Home/Products">Products &raquo;</a><br/>
            </p>
        </div>
        <div class="col-md-4">
            <p style="color: black">
                <a class="btn btn-success" title="This section consists of Geo-Location and contact details." style="color: white; background-color: darkgreen;" href="~/Home/Contact">Map-Location&raquo;</a><br/>

            </p>
        </div>





    </div>



    <a href="#"><img src="~/images/facebook.png" width="32" height="32"/></a>
    <a href="#"><img src="~/images/linkedin.png" width="32" height="32"/></a>
    <a href="#"><img src="~/images/twitter.png" width="32" height="32"/></a>
    <a href="https://play.google.com/store/apps/details?id=com.greenapiclient"><img src="~/images/playstore.png" width="32" height="32"/></a>
    <p style="color: white; font-size: 8pt">
        &copy; @DateTime.Now.Year - GREEN PASTURES SAVINGS & CREDIT CO-OPERATIVE SOCIETY


    </p>
    <p class="pull-right">
        <a id="myBack" class="btn btn-lg btn-success" href="#"><img src="~/images/up-arrow.png" width="32" height="32"/></a>
    </p>

</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>